<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile-page.css">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
  </head>
  <body>
    <section id="profile-header">
      <p id="username">{{username}}</p>
    </section>
    <section id="user-content">
      <section id="content-headers">
        <p id="classes">CLASSES</p>
        <a href="/addclass"><p id="add-class-button">ADD CLASS</p></a>
      </section>
      <section id="content-classes">

        {{#each classes}}
          <section class="class">
            <div class="class-name">
              <p><b>{{className}}</b></p>
            </div>
            <div class="class-grades">
              <p><i>Present grade:</i> {{gradeNow}}% &emsp; <i>Minimum grade wanted:</i> {{gradeWant}}%
                &emsp; <i>Test is worth: {{percentTest}}%</i> &emsp; <i>Grade needed on final:</i> {{final}}%</p>
            </div>

            <div class="class-buttons">
              <form action="/delete/{{className}}?_method=DELETE" method="post">
                <input type="submit" value="Delete">
              </form>
            </div>

          </section>
        {{/each}}

        <form action="/logout" method="get">
          <input type="submit" value="Logout">
        </form>

      </section>
    </section>
  </body>
</html>
